.icon-calendar {
  background: url(../img/sprite.png) 0 0;
  width: 16px;
  height: 16px;
}

.icon-cell-phone {
  background: url(../img/sprite.png) -16px 0;
  width: 16px;
  height: 16px;
}

.icon-city {
  background: url(../img/sprite.png) 0 -16px;
  width: 16px;
  height: 16px;
}

.icon-disk {
  background: url(../img/sprite.png) -16px -16px;
  width: 16px;
  height: 16px;
}

.icon-phone {
  background: url(../img/sprite.png) -32px 0;
  width: 16px;
  height: 16px;
}

.icon-skype {
  background: url(../img/sprite.png) -32px -16px;
  width: 16px;
  height: 16px;
}

.icon-trash {
  background: url(../img/sprite.png) 0 -32px;
  width: 16px;
  height: 16px;
}

.icon-upload {
  background: url(../img/sprite.png) -16px -32px;
  width: 16px;
  height: 16px;
}

.icon-user {
  background: url(../img/sprite.png) -32px -32px;
  width: 16px;
  height: 16px;
}