body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: url("../img/b34.png");
    color: #545454;
    margin: 0;
}
form {
    flex: 1;
}
.upper-part > .container {
    margin-left: 0.7rem;
}
.container {
    border-radius: 0.5rem;
    margin: 20px 0;
    flex: 1;
}
input {
    color: #545454;
    width: 90%;
    margin: 0.3rem 0 0.5rem 0;
    height: 1.3rem;
    font-size: 0.8rem;
    background: #fefefe;
    border-radius: 0.4rem;
    padding: 0 1rem 0 0.3rem;
    transition: border 1s ease,
                background 1s ease;
}
td {
    text-align: center;
    border-bottom: 1px solid black;
}
th span, button span  {
    display: inline-block;
    vertical-align: middle;
}
button span {
    vertical-align: baseline;
}
.del-customer {
    border: none;
    cursor: pointer;
    background: inherit;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5rem;
}
th {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: #d3d3d3;
    vertical-align: baseline;
    line-height: 2rem;
}
.btn {
    cursor: pointer;
    background: #c1e1ec;
    border: 1px solid grey;
    color: #545454;
    font-size: 0.9rem;
    padding: 0;
    width: 20%;
    height: 1.8rem;
    border-radius: 0.3rem;
    margin-top: 0.6rem;
    transition: background 0.5s ease,
                color 0.5s ease;
}
.container > legend {
    font-size: 1.2rem;
    font-weight: bolder;
}
.customers {
    background: #fafafa;
}
.customers tr:nth-child(even) {
    background: #d3d3d3;
}
.customers tr:first-child {
    height: 2rem;
}
.but-cont {
    text-align: center;
}
.upper-part {
    width:60%;
    display: flex;
    margin: 0 auto;
}
.log {
    width: 98%;
    height: 25rem;
    border-radius: 0.4rem;
    color: #545454;
    background: #fefefe;
    border: 2px solid rgb(238, 238, 238);
    overflow: auto;
}
.btn:hover {
    color: #fff;
    background: #66b266;
}
.log p {
    margin: 7px;
}
span {
    font-weight: bolder;
}
.update {
    color: #ffae19;
}
.delete {
    color: #ff1919;
}
.create {
    color: #198c19;
}
.read {
    color: #3232ff;
}
.bolder {
    font-weight: bolder;
}
input[type=file] {
    display: none;
}
.error:invalid {
    background: url("../img/exclamation.png") no-repeat right white;
    border: 2px solid #f00;
}
input:valid {
    background: url("../img/accept.png") no-repeat right white;
    border: 2px solid #090;
}
.msg-list {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem;
}
.msg-list > li {
    border-bottom: 1px solid #d3d3d3;
    padding: 0.2rem 0;
    font-size: 0.8rem;
}

